{% javascript %}{% endjavascript %}
  	{% stylesheet %}
  	::-moz-placeholder{background-color:red;color:grey}:-ms-input-placeholder{background-color:red;color:grey}::placeholder{background-color:red;color:grey}.hello{background-color:red;display:flex;transform:translateX(10px) translateY(10px);transform:rotate(30deg);transition:all .3s}
  	{% endstylesheet %}

  	{% schema %}
  	{}

  	{% endschema %}

  	<div>hello test</div>
  