::placeholder {
    color: gray;
    background-color: red;
  }
  
// .comment {
//     background-color: beige;
// }

.hello {
    background-color: $test-color;
    display: flex;
    transition: all .3s;
    transform: translateX(10px) translateY(10px);
    transform: rotate(30deg);

}